.booking-section-img{
	background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1),rgba(255,255,255,.1)), url("../../img/restro/b3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}
